@{
    ViewBag.Title = "Adventure Works";
}

<div class="jumbotron">
    <h1> Adventure Works </h1>
    <p class="lead"> Adventure works is a small online store dealing in sporting goods</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Accesories</h2>
        <p>
            All your outdoor accessory needs are here!
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Categories", "Home", new { Category = "Accessories" })'>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Bikes</h2>
        <p>We have the finest selection of bikes anywhere!</p>
        <p><a class="btn btn-default" href='@Url.Action("Categories", "Home", new { Category = "Bikes" })'>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Clothing</h2>
        <p>Outdoor clothing at affordable prices!</p>
        <p><a class="btn btn-default" href='@Url.Action("Categories", "Home", new { Category = "Clothing" })'>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Components</h2>
        <p>Excellent selection of components for your bikes. Whether it is repair or upgrade we have it!</p>
        <p><a class="btn btn-default" href='@Url.Action("Categories", "Home", new { Category = "Components" })'>Learn more &raquo;</a></p>
    </div>
</div>